<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896502220599-m9amtr7lbj1qqm5je5792smu9bfitpao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896502220599-m9amtr7lbj1qqm5je5792smu9bfitpao</string>
	<key>API_KEY</key>
	<string>AIzaSyBotmCAdsSzNlcYyoelSgD19UIaIW5V9ts</string>
	<key>GCM_SENDER_ID</key>
	<string>896502220599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetbilir.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-274a0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-274a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896502220599:ios:2dc949048b9cd29529bcb2</string>
</dict>
</plist>